<h3>Active</h3>
<ul v-el:list >
    <li id="{{id}}" v-for="(id, task) in tasks | filterBy false in 'completed'" v-bind:class="{ 'complete': task.completed }">
        {{ task.title }} |
        <span @click="completed(id)">Done</span>
    </li>
</ul>
<h3>Done</h3>
<ul>
    <li id="{{id}}" v-for="(id, task) in tasks | filterBy true in 'completed'" >
        <span v-bind:class="{ 'complete': task.completed }">{{ task.title }}</span> |
        <span @click="remove(id)">Done</span> |
        <span @click="undone(id)">Undone</span>
    </li>
</ul>
