<div class="navbar navbar-light navbar-static-top" role="banner">

    <div class="clearfix">
    <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav">
      ☰
    </button>
    <a class="navbar-brand hidden-sm-up" v-link="{ path: '/' }">
      {{name}}
    </a>
  </div>

  <div class="collapse navbar-toggleable-xs container">
    <a class="navbar-brand hidden-xs-down" v-link="{ path: '/' }">Blog</a>
    <nav class="nav navbar-nav pull-sm-right">
      <a class="nav-item nav-link" v-link="{ path: '/' }">Home</a>
      <a class="nav-item nav-link" v-link="{ path: '/about' }">About</a>
    </nav>
  </div>
</div>

