$brand-color: #17ADFB;
$danger-color: #c0392b;
$success-color: #3CD27B;

$black: #252525;
$white: #fff;
$gray: #e5e5e5;
$dark-gray: #a9a9a9;

//transitions
$transition: all .3s cubic-bezier(.45,.01,.51,1);

// Breakpoints
$break-small: 600px;
$break-medium: 800px;
