body {
    background: #efefef;
    color: #252525;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1em;
    line-height: 1.5;
    font-size: 110%;
}

.main-container {
    padding-top: 2rem;
}

